[submodule "libs/python-ts3"]
	path = libs/python-ts3
	url = git@github.com:nikdoof/python-ts3.git
[submodule "libs/steamapi"]
	path = libs/steamapi
	url = git@github.com:smiley/steamapi.git
[submodule "libs/rauth"]
	path = libs/rauth
	url = git@github.com:litl/rauth.git
