[submodule "libs/python-ts3"]
	path = libs/python-ts3
	url = git@github.com:nikdoof/python-ts3.git
[submodule "libs/rauth"]
	path = libs/rauth
	url = git@github.com:litl/rauth.git
[submodule "libs/sep"]
	path = libs/sep
	url = git@github.com:oxivanisher/server-execute-phantom.git
