{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About</h2>
What is this all about. But please <a href="{{ url_for('profile_register') }}">register</a>.
<h2>Libs used</h2>
<ul>
<li><a href="http://getbootstrap.com/" target="_new">http://getbootstrap.com/</a></li>
<li><a href="http://glyphicons.com/" target="_new">http://glyphicons.com/</a></li>
</ul>
{%- if config.TWITTERURL and config.TWITTERWIDGETID %}
<div class="twitter_news">
<a class="twitter-timeline" href="{{ config.TWITTERURL }}" data-widget-id="{{ config.TWITTERWIDGETID }}">&nbsp;</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endif -%}
{% endblock %}