{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>Herzlich Willkommen bei MMOJunkies</h2>

<h3>Meine Motivation:</h3>
<p>Mein Ziel f&uuml;r MMOJunkies ist es, das gemeinsame Zusammenspielen zu f&ouml;rdern. In diesem Sinne soll insbesondere das neue System "MMOJunkies Friends" helfen die Gamer n&auml;her zusammen zu bringen.</p>

<p>Bisher werden hierbei alle Kosten f&uuml;r Webseite und Server zu 100% von mir privat getragen, aber mit "MMOJunkies Friends" m&ouml;chte ich die M&ouml;glichkeit bieten freiwillig (!) etwas zu Spenden. Als Dankesch&ouml;n erhalten Spender einen eigenen Rang auf dem Teamspeak Server und ein Symbol im Websystem. Zudem soll dieses System es viel einfacher machen, das Kennwort f&uuml;r den TS Server, zum Schutz vor Spammern, regelm&auml;ssig zu &auml;ndern und das neue Passwort dann auch allen mitzuteilen.<br>
Das System soll es so einfach wie m&ouml;glich machen, mit anderen Gamern zusammen zu finden und eine gute Zeit zu erleben. Das ganze wird fast zu 100% von mir selber <a href="https://github.com/oxivanisher/MMOJunkiesPyFriends" target="_blank">entwickelt</a> unter Mithilfe und Support von folgenden MMOJunkies:
<ul>
<li><a href="https://friends.mmojunkies.net/Partner/Show/7/" target="_blank">Surya (Grafik)</a></li>
<li><a href="https://friends.mmojunkies.net/Partner/Show/5/" target="_blank">Aggravate (Tester, Entwicklungs Support)</a></li>
<li><a href="https://friends.mmojunkies.net/Partner/Show/6/" target="_blank">Skeeve55 (Tester, Entwicklungs Support)</a></li>
<li><a href="https://friends.mmojunkies.net/Partner/Show/9/" target="_blank">Bingo (Entwicklungs Support)</a></li>
</ul>

Bis jetzt unterst&uuml;tze Netzwerke:
<ul>
<li>Steam (Valve)</li>
<li>Battle.net (Blizzard)</li>
<li>Teamspeak 3</li>
<li>Twitch.tv</li>
</ul>

Was f&uuml;r die Zukunft noch geplant ist:
<ul>
<li>&Uuml;bersetzung in Deutsch</li>
<li>Integration Riot (League of Legends)</li>
<li>Der Status der Boxen auf dem Server speichern, so dass MMOJunkies f&uuml;r dich immer und &uuml;berall gleich aussieht</li>
<li>Diverse neue Boxen z.B. mit einer &Uuml;bersicht wer dieselben Spiele spielt wie du</li>
<li>Ein News System mit RSS Feed (auf Wunsch auch so dass alle posten d&uuml;rfen)</li>
<li>Das ganze System grafisch mehr zu vereinen</li>
<li>Facebook Authentifizierung</li>
</ul>

Ich w&uuml;nsche dir noch viel Spass und viel gemeinsames Spielen bei MMOJunkies,<br>
<a href="https://friends.mmojunkies.net/Partner/Show/1/" target="_blank">Marc Urben aka Cernunnos</a>
<br />
<br />
<a href="{{ url_for('profile_register') }}">Jetzt registrieren</a>
<br />
<br />
<h2>Verwendete Bibliotheken, Applikationen und Quellen</h2>
<ul>
<li><a href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a></li>
<li><a href="http://glyphicons.com/" target="_blank">http://glyphicons.com/</a></li>
<li><a href="http://jquery.com/" target="_blank">http://jquery.com/</a></li>
<li><a href="http://jqueryui.com/" target="_blank">http://jqueryui.com/</a></li>
<li><a href="http://www.sublimetext.com/3" target="_blank">Sublime Text 3</a></li>
<li><a href="https://www.python.org/" target="_blank">Python 2.7.X</a></li>
<li><a href="http://flask.pocoo.org/" target="_blank">Flask</a></li>
<li><a href="http://www.sqlalchemy.org/" target="_blank">SQL Alchemy</a></li>
<li><a href="http://www.celeryproject.org/" target="_blank">Celery</a></li>
<li><a href="https://github.com/litl/rauth" target="_blank">rauth</a></li>
<li><a href="http://de.depositphotos.com/license.html" target="_blank">depositphotos.com (Logo)</a></li>
</ul>
<br />
<br />
<h2>Social Media</h2>
<li><a href="https://www.facebook.com/MMOJunkies.net" target="_blank">Facebook</a></li>
<li><a href="https://www.google.com/+MmojunkiesNet" target="_blank">Google Plus</a></li>
<li><a href="http://www.youtube.com/channel/UC4H4hSB_0KfKs_WyGPjU-mg" target="_blank">Youtube</a></li>
<li><a href="http://www.twitch.tv/mmojunkies" target="_blank">Twitch.tv</a></li>
<li><a href="https://twitter.com/realMMOJunkies" target="_blank">Twitter</a></li>
<ul>
{%- if config.TWITTERURL and config.TWITTERWIDGETID and false %}
<div class="twitter_news">
<a class="twitter-timeline" href="{{ config.TWITTERURL }}" data-widget-id="{{ config.TWITTERWIDGETID }}">&nbsp;</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endif -%}
{% endblock %}