{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>Welcome to MMOJunkies!</h2>

Das Projekt &laquo;MMOJunkies&raquo; entstand aus meiner Motivation, das gemeinsame Online-Spielen zu f&ouml;rdern. In diesem Sinne soll insbesondere das neue System &laquo;MMOJunkies Friends&raquo; helfen, Gamer besser zusammenzuf&uuml;hren.<br>
Zum Schutz vor Spam­ming vereinfacht es dieses System zudem, das Kennwort f&uuml;r den TS-Server regelm&auml;ssig zu &auml;ndern und allen mitzuteilen.<br>
&laquo;MMOJunkies&raquo; hat zum Ziel, dass Gamer m&ouml;glichst simpel zusammenfinden und eine spannende (Spiel-)Zeit erleben.<br>
<br>
Bisher wurden s&auml;mtliche Kosten dieses Projekts f&uuml;r Webseite und Server von mir privat getragen. Du hast (freiwillig!) die M&ouml;glichkeit, meine Arbeit mit einer Spende via PayPal zu unterst&uuml;tzen. Als Dankesch&ouml;n erh&auml;ltst du einen speziellen Rang im Teamspeak-Server und ein Symbol im Websystem.<br>
<br>
Mit viel Engagement und noch mehr Leidenschaft habe ich &laquo;MMOJunkies&raquo; (fast) allein <a href="https://github.com/oxivanisher/MMOJunkiesPyFriends" target="_blank">realisiert</a>. Mithilfe und Support erhielt ich von folgenden MMOJunkies:
<ul>
<li><a href="https://friends.mmojunkies.net/Partner/Show/5/" target="_blank">Aggravate (Tester, JavaScript Support)</a></li>
<li><a href="https://friends.mmojunkies.net/Partner/Show/6/" target="_blank">Skeeve55 (Tester, CSS Support)</a></li>
<li><a href="https://friends.mmojunkies.net/Partner/Show/9/" target="_blank">Bingo (CSS Support)</a></li>
<li><a href="https://friends.mmojunkies.net/Partner/Show/7/" target="_blank">Surya (Grafik)</a></li>
</ul>
Unterst&uuml;tzte Netzwerke:
<ul>
<li>Steam (Valve)</li>
<li>Battle.net (Blizzard)</li>
<li>Teamspeak 3</li>
<li>Twitch.tv</li>
</ul>
In Planung:
<ul>
<li>&Uuml;bersetzung in deutscher Sprache.</li>
<li>Integration Riot (League of Legends).</li>
<li>Das Speichern des Boxen-Status, damit die Webseite &laquo;MMOJunkies&raquo; auf all deinen Ger&auml;ten immer gleich aussieht.</li>
<li>Diverse neue Boxen, z. B. mit einer &Uuml;bersicht, wer dieselben Spiele spielt wie du.</li>
<li>Ein News-System mit RSS Feed (auf Wunsch auch so, dass es alle &laquo;posten&raquo; d&uuml;rfen).</li>
<li>Das ganze System grafisch noch besser zu vereinen.</li>
<li>Facebook-Au­then­ti­fi­zie­rung.</li>
</ul>
Ich w&uuml;nsche dir viel Spass und Freude beim gemeinsamen Spiel via &laquo;MMOJunkies&raquo; und danke f&uuml;r dein Interesse.<br>
<a href="https://friends.mmojunkies.net/Partner/Show/1/" target="_blank">Marc Urben alias Cernunnos</a>
<br />
<br />
<a href="{{ url_for('profile_register') }}">Jetzt registrieren</a>
<br />
<br />
<h2>Verwendete Bibliotheken, Applikationen und Quellen</h2>
<ul>
<li><a href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a></li>
<li><a href="http://glyphicons.com/" target="_blank">http://glyphicons.com/</a></li>
<li><a href="http://jquery.com/" target="_blank">http://jquery.com/</a></li>
<li><a href="http://jqueryui.com/" target="_blank">http://jqueryui.com/</a></li>
<li><a href="http://www.sublimetext.com/3" target="_blank">Sublime Text 3</a></li>
<li><a href="https://www.python.org/" target="_blank">Python 2.7.X</a></li>
<li><a href="http://flask.pocoo.org/" target="_blank">Flask</a></li>
<li><a href="http://www.sqlalchemy.org/" target="_blank">SQL Alchemy</a></li>
<li><a href="http://www.celeryproject.org/" target="_blank">Celery</a></li>
<li><a href="https://github.com/litl/rauth" target="_blank">rauth</a></li>
<li><a href="http://de.depositphotos.com/license.html" target="_blank">depositphotos.com (Logo)</a></li>
</ul>
<br />
<br />
<h2>Social Media</h2>
<ul>
<li><a href="https://www.facebook.com/MMOJunkies.net" target="_blank">Facebook</a></li>
<li><a href="https://www.google.com/+MmojunkiesNet" target="_blank">Google Plus</a></li>
<li><a href="http://www.youtube.com/channel/UC4H4hSB_0KfKs_WyGPjU-mg" target="_blank">Youtube</a></li>
<li><a href="http://www.twitch.tv/mmojunkies" target="_blank">Twitch.tv</a></li>
<li><a href="https://twitter.com/realMMOJunkies" target="_blank">Twitter</a></li>
<ul>
{%- if config.TWITTERURL and config.TWITTERWIDGETID and false %}
<div class="twitter_news">
<a class="twitter-timeline" href="{{ config.TWITTERURL }}" data-widget-id="{{ config.TWITTERWIDGETID }}">&nbsp;</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endif -%}
{% endblock %}