{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h3>Background Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Net</th>
			<th>Method</th>
			<th>Timeout</th>
			<th>Last Start</th>
			<th>Last End</th>
			<th>Duration</th>
			<th>Return Message</th>
		</tr>
	</thead>
	<tbody>
		{% for task in infos.methodStats %}
			{%  %}
			<tr>
				<td>{{ task.handle }}</td>
				<td>{{ task.method }}</td>
				<td>{{ task.timeout }}</td>
				<td>{{ timestampToString(task.start) }}</td>
				<td>{{ timestampToString(task.end) }}</td>
				<td>
					{%- if task.end > task.start -%}
						{{ task.end-task.start }} Seconds
					{%- elif task.start < task.end -%}
						Now Running
					{%- else -%}
						Waiting
					{%- endif -%}
				</td>
				<td>{{ task.return }}</td>
			</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
<br />
<h3>Registered Celery Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Worker</th>
			<th>Task</th>
		</tr>
	</thead>
	<tbody>
		{% for task in infos.registeredWorkers %}
		<tr>
			<td>{{ task.worker }}</td>
			<td>{{ task.task }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<br />
<h3>Active Celery Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Worker</th>
			<th>Name</th>
			<th>Id</th>
			<th>Args</th>
			<th>KwArgs</th>
		</tr>
	</thead>
	<tbody>
		{% for task in infos.avtiveTasks %}
		<tr>
			<td>{{ task.worker }}</td>
			<td>{{ task.name }}</td>
			<td>{{ task.id }}</td>
			<td>{{ task.args }}</td>
			<td>{{ task.kwargs }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<br />
<h3>Scheduled Celery Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Worker</th>
			<th>Name</th>
			<th>ETA</th>
			<th>Priority</th>
			<th>Id</th>
			<th>Args</th>
			<th>KwArgs</th>
		</tr>
	</thead>
	<tbody>
		{% for task in infos.scheduledTasks %}
		<tr>
			<td>{{ task.worker }}</td>
			<td>{{ task.name }}</td>
			<td>{{ task.eta }}</td>
			<td>{{ task.priority }}</td>
			<td>{{ task.id }}</td>
			<td>{{ task.args }}</td>
			<td>{{ task.kwargs }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
