{% extends "base.html" %}
{% block title %}{{ _('Background Jobs Status')}}{% endblock %}
{% block content %}
<h3>Background Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Net</th>
			<th>Method</th>
			<th>Timeout</th>
			<th>Last Start</th>
			<th>Last End</th>
			<th>Duration</th>
			<th>Result</th>
		</tr>
	</thead>
	<tbody>
		{% for task in infos.methodStats %}
		<tr>
			<td>{{ task.handle }}</td>
			<td>{{ task.method }}</td>
			<td>{{ get_short_duration(task.timeout) }}</td>
			<td>{{ timestampToString(task.start) }}</td>
			<td>{{ get_short_age(task.end) }}</td>
			<td>
				{%- if task.end > task.start -%}
					{{ (task.end-task.start)|round(3, 'ceil') }} sec
				{%- elif task.start > task.end -%}
					<strong>Active</strong>
				{%- else -%}
					Waiting
				{%- endif -%}
			</td>
			<td>{{ task.result }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<br />
<h3>Background Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Net</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		{% for key, value in infos.currentTasks.iteritems() %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
