{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h3>Session Stats</h3>
<table class='table-striped' style='width: 100%;'>
<tr><td>Session Requests</td><td>{{ session.requests }}</td></tr>
<tr><td>Session Login Date</td><td>{{ timestampToString(session.logindate) }}</td></tr>
<tr><td>Application Startup Date</td><td>{{ timestampToString(config.startupDate) }}</td></tr>
</table>
</ul>
<h3>Loaded Networks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Icon</th>
			<th>Class</th>
			<th>Handle</th>
			<th>Name</th>
			<th>More Info</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for net in infos.loadedNets %}
		<tr>
			<td><img class="partner_list_icon" src="{{ url_for('get_image', imgType='network', imgId=net.handle) }}" title="{{ net.name }}"/></td>
			<td>{{ net.className }}</td>
			<td>{{ net.handle }}</td>
			<td>{{ net.name }}</td>
			<td><a href="{{ url_for('network_admin', networkHandle=net.handle) }}">{{ net.moreInfo }}</a></td>
			<td>{{ net.description }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<br />
<h3>Registred Users</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Nick</th>
			<th>Name</th>
			<th>Email</th>
			<th>Website</th>
			<th>Admin</th>
			<th>Locked</th>
			<th>Veryfied</th>
		</tr>
	</thead>
	<tbody>
		{% for user in infos.registredUsers %}
		<tr>
			<td>{{ user.nick }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.website }}</td>
			<td>{{ user.admin }}</td>
			<td>{{ user.locked }}</td>
			<td>{{ user.veryfied }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
