{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h3>Background Tasks</h3>
<table class='table-striped' style='width: 100%;'>
	<thead>
		<tr>
			<th>Net</th>
			<th>Method</th>
			<th>Timeout</th>
			<th>Last Start</th>
			<th>Last End</th>
			<th>Duration</th>
			<th>Result</th>
		</tr>
	</thead>
	<tbody>
		{% for task in infos.methodStats %}
		<tr>
			<td>{{ task.handle }}</td>
			<td>{{ task.method }}</td>
			<td>{{ task.timeout }}</td>
			<td>{{ timestampToString(task.start) }}</td>
			<td>{{ timestampToString(task.end) }}</td>
			<td>
				{%- if task.end > task.start -%}
					{{ task.end-task.start|round(3, 'ceil') }} Seconds
				{%- elif task.start > task.end -%}
					<strong>Active</strong>
				{%- else -%}
					Waiting
				{%- endif -%}
			</td>
			<td>{{ task.result }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
