<!DOCTYPE HTML>
<html>
	<head>
		{%- block head %}
		<title>{{ _('MMOJunkies Friends') }} {% block title %}{% endblock %}</title>
		<meta property="og:title" content="{{ _('MMOJunkies Friends') }}" />
		<meta property="og:site_name" content="{{ _('MMOJunkies Friends') }}"/>
		{# <meta property="og:url" content="{{ url_for('index') }}" /> #}
		<meta name="description" content="{{ _('Online gaming is social. Our website is helping you to find and connect with other people playing the same games as you. Having fun is our mission!') }}">
		<meta property="og:description" content="{{ _('Online gaming is social. Our website is helping you to find and connect with other people playing the same games as you. Having fun is our mission!') }}" />
		<meta name="author" content="Marc Urben">
		<meta name="fragment" content="!">
		<meta name="keywords" content="mmo, games, gaming, spielen, spiele, freunde, clan, gilde, stream, streaming, chat, ts3, teamspeak, mmojunkies, steam, battle.net, blizzard, world of warcraft, starcraft, heroes of the storm, diablo, league of legends" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# Languages -#}
		<link rel="alternate" hreflang="de" href="{{ config.WEBURL }}" />
		<link rel="alternate" hreflang="de-ch" href="{{ config.WEBURL }}" />
		<link rel="alternate" hreflang="en" href="{{ config.WEBURL }}" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:locale:alternate" content="de_CH" />
		<meta property="og:locale:alternate" content="de_DE" />
		{# Favicon -#}
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo_trans_light.png') }}">
		{# jQuery and jQueryUI -#}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="{{ url_for('static', filename='jquery/jquery.cookie.js') }}"></script>
		{# <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" /> -#}
		<link href="{{ url_for('static', filename='jquery/jquery-ui.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='jquery/jquery-ui.structure.min.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='jquery/jquery-ui.theme.min.css') }}" rel="stylesheet" />
		{# Bootstrap -#}
		{#- Local version
		<link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
		#}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		{# Font Awesome -#}
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" />
		{# DataTable (will be replaced with inet include) -#}
		<script src="{{ url_for('static', filename='jquery/jquery.dataTables.min.js') }}"></script>
		<link href="{{ url_for('static', filename='friendstable.css') }}" rel="stylesheet" media="all" type="text/css" />
		<script src="{{ url_for('static', filename='friendstable.js') }}"></script>
		{# jQCloud -#}
		<script src="{{ url_for('static', filename='jquery/jqcloud-1.0.4.min.js') }}"></script>
		<link href="{{ url_for('static', filename='jquery/jqcloud.css') }}" rel="stylesheet" media="all" type="text/css" />
		{# MMOFriends internal stuff -#}
		{# <link href="{{ url_for('static', filename='bootstrap/bottombar.css') }}" rel="stylesheet" media="all" type="text/css" /> -#}
		<link href="{{ url_for('static', filename='mmofriends.css') }}" rel="stylesheet" media="all" type="text/css" />
		<script src="{{ url_for('static', filename='mmofriends.js') }}"></script>
		<script type="text/javascript">
			function popUpChat () {
			    url = "https://chat.mmojunkies.net/?server=oxi&css=darkness
			            {%- if session.nick -%}
			            &name={{ session.nick }}
			            {%- endif -%}"
			    chatWin = window.open(url, "MMOJunkies Chat", "location=no,directories=no,toolbar=no,status=no,menubar=no,scrollbars=no,width=1000,height=700,resizable=yes");
			    chatWin.focus();
			    return false;
			}
			{% if config.GOOGLEANALYTICS -%}
			    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			    ga('create', '{{ config.GOOGLEANALYTICS }}', 'auto');
			    ga('require', 'displayfeatures');
			    ga('send', 'pageview');
			{%- endif %}
		</script>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.3&appId=441799419166656";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		{%- endblock %}
	</head>
	<body>
		{# <div id="loadingOverlay"><img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" />{{ _('Loading ...') }}</div> -#}
		<div><span id="imgpopup" class="position_bottom_left glow ui-widget-content" style="display: none; z-index:3;"><img id="popupimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="PopUp"/></span></div>
		<div><span id="infopopup" class="position_bottom_right glow ui-widget-content" style="display: none; z-index:3;"></span></div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				{# Brand and toggle get grouped for better mobile display -#}
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 	<span class="sr-only">{{ _('Toggle navigation') }}</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="{{ url_for('index') }}" rel="home" title="MMOJunkies"><img src="{{ url_for('static', filename='logo_trans_light.png') }}" class="home_icon" alt="Logo"></a>
				    {#- <span class="glyphicon glyphicon-home"> #}
				</div>

				{# Collect the nav links, forms, and other content for toggling -#}
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if session.logged_in -%}
						{#
 						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Friends <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu"> -->
								<li class="{% if url_for('partner_find') == request.path %}active{% endif %}"><a href="{{ url_for('partner_find') }}"><span class="glyphicon glyphicon-user"></span> {{ _('Find new friends') }}</a></li>
								<li class="{% if url_for('partner_list') == request.path %}active{% endif %}"><a href="{{ url_for('partner_list') }}"><span class="glyphicon glyphicon-user"></span> {{ _('Online friends') }}</a></li>
 							</ul>
						</li>
						<li class="dropdown"></li> -#}
						{% endif -%}
						<li><a href="#" target="_blank" onclick="return popUpChat();"><span class="glyphicon glyphicon-user"></span> Chat</a></li>

						{#Game Links -#}
						{% if session.logged_in -%}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tower"></span> {{ _('Games and Gamers') }} <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">

								<li><a href="{{ url_for('game_links_show') }}"><span class="glyphicon glyphicon-link"></span> {{ _('Game links') }}</a></li>
								<li><a href="{{ url_for('game_links_add') }}"><span class="glyphicon glyphicon-link"></span> {{ _('Add game link') }}</a></li>

								<li class="divider"></li>
								<!-- <li><a href="{{ url_for('network_link') }}"><span class="glyphicon glyphicon-tasks"></span> Connect Network</a></li> -->
								{%- for net in session.networks %}
									<li><a href="{{ url_for('network_show', netHandle=net.handle) }}"><span class="glyphicon glyphicon-tasks"></span> {{ net.name }}</a></li>
								{%- endfor %}
							</ul>
						</li>
						{% endif -%}

						<li class="{% if url_for('about') == request.path %}active{% endif %}"><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-question-sign"></span> {{ _('About') }}</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						{# Social Links -#}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {{ _('Social') }} <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a class="fb-like" data-href="https://www.facebook.com/MMOJunkies.net" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></a></li>
								<li style="padding: 15px;"><a href="https://twitter.com/realMMOJunkies" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">{{ _('Follow') }} @realMMOJunkies</a></li>
								{% if config.PAYPAL_HOSTEDBUTTON -%}
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									{% if session.logged_in -%}
										<input type="hidden" name="custom" value="{{ session.userid }}"/>
									{%- endif %}
									<input type="hidden" name="hosted_button_id" value="{{ config.PAYPAL_HOSTEDBUTTON }}">
									<li style="padding-left: 15px; padding-right: 15px;"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></li>
									</form>
								{%- endif %}
							</ul>
						</li>

						{# undo box remove -#}
						{% if url_for('index') == request.path %}
						<li class="dropdown" id="removedBoxesDropdownMenu" style="visibility: hidden; visible: hidden;">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-large"></span> {{ _('Hidden boxes') }} <span class="caret"></span></a>
	         				<ul class="dropdown-menu" role="menu" id="removedBoxesDropdown">
							</ul>
						</li>
						{% endif %}

					{% if session.logged_in -%}
						{% if session.admin  -%}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {{ _('Administration') }} <span class="caret"></span></a>
		         				<ul class="dropdown-menu" role="menu">
									<li class="{% if url_for('admin_bulk_email') == request.path %}active{% endif %}"><a href="{{ url_for('admin_bulk_email') }}"><span class="glyphicon glyphicon-envelope"></span> {{ _('Bulk Email') }}</a></li>
									<li class="{% if url_for('admin_user_management') == request.path %}active{% endif %}"><a href="{{ url_for('admin_user_management') }}"><span class="glyphicon glyphicon-user"></span> {{ _('User Management') }}</a></li>
									<li class="{% if url_for('admin_system_status') == request.path %}active{% endif %}"><a href="{{ url_for('admin_system_status') }}"><span class="glyphicon glyphicon-eye-open"></span> {{ _('System Status') }}</a></li>
									<li class="{% if url_for('admin_bgjob_status') == request.path %}active{% endif %}"><a href="{{ url_for('admin_bgjob_status') }}"><span class="glyphicon glyphicon-eye-open"></span> {{ _('BG Jobs Status') }}</a></li>
									<li class="{% if url_for('admin_celery_status') == request.path %}active{% endif %}"><a href="{{ url_for('admin_celery_status') }}"><span class="glyphicon glyphicon-eye-open"></span> {{ _('Celery Status') }}</a></li>
									<li class="{% if url_for('network_admin') == request.path %}active{% endif %}"><a href="{{ url_for('network_admin') }}"><span class="glyphicon glyphicon-tasks"></span> {{ _('Networks') }}</a></li>
									<li class="{% if url_for('dev') == request.path %}active{% endif %}"><a href="{{ url_for('dev') }}"><span class="glyphicon glyphicon-wrench"></span> {{ _('Developer Tools') }}</a></li>
								</ul>
							</li>
						{% endif -%}

						<li><a href="ts3server://{{ config.networkConfig.TS3.exturl }}?port={{ config.networkConfig.TS3.extport }}&nickname={{ session.nick }}&password={{ config.networkConfig.TS3.extpassword }}"><img src="{{ url_for('get_image', imgType='network', imgId='TS3') }}" class="partner_list_icon" title="{{ _('Connect to TS3 Server') }}"></a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-off"></span> {{ session.nick }}<span class="caret"></span></a>
	         				<ul class="dropdown-menu" role="menu">
								<li class="{% if url_for('profile_show') == request.path %}active{% endif %}"><a href="{{ url_for('profile_show') }}"><span class="glyphicon glyphicon-user"></span> {{ _('Your profile settings') }}</a></li>
								<li class="{% if url_for('partner_show', partnerId=session.userid) == request.path %}active{% endif %}"><a href="{{ url_for('partner_show', partnerId=session.userid) }}"><span class="glyphicon glyphicon-user"></span> {{ _('Your gamer profile') }}</a></li>

								<li class="divider"></li>
									{%- for key, value in config.LANGUAGES.iteritems() %}
										{%- if key != session.currentLocale %}
											<li><a href="{{ url_for('set_lang', language=key) }}"><span class="glyphicon glyphicon-eye-open"></span> {{ value }}</a></li>
										{%- endif %}
									{%- endfor %}
									<li><a href="{{ url_for('set_lang') }}"><span class="glyphicon glyphicon-eye-open"></span> {{ _('Reset') }}</a></li>
								<li class="divider"></li>
								<li><a href="{{ url_for('profile_logout') }}"><span class="glyphicon glyphicon-off"></span> {{ _('Logout') }}</a></li>
							</ul>
						</li>
					{% else %}
						<li class="{% if url_for('profile_register') == request.path %}active{% endif %}"><a href="{{ url_for('profile_register') }}"><span class="glyphicon glyphicon-user"></span> {{ _('Registration') }}</a></li>
						<li><a href="{{ url_for('profile_login') }}"><span class="glyphicon glyphicon-off"></span> {{ _('Login') }}</a></li>
					{% endif -%}
					</ul>
				</div>{# /.navbar-collapse #}
			</div>{# /.container-fluid #}
		</nav>
		<div class="container" id="flashMessages">
			{%- block content %}{% endblock -%}
		</div>
		{%- with messages = get_flashed_messages(category_filter=["success"]) %}
			{%- if messages %}
				<div id="flashDialogSuccess" title="{{ _('Success message') }}">
				{%- for message in messages %}
					<div class="flashMessage">{{ message }}</div>
				{% endfor -%}
				</div>
			{% endif -%}
		{% endwith -%}
		{%- with messages = get_flashed_messages(category_filter=["error"]) %}
			{%- if messages %}
				<div id="flashDialogError" title="{{ _('Error message') }}">
				{%- for message in messages %}
					<div class="flashMessage">{{ message }}</div>
				{% endfor -%}
				</div>
			{% endif -%}
		{% endwith -%}
		{%- with messages = get_flashed_messages(category_filter=["info"]) %}
			{%- if messages %}
				<div id="flashDialogInfo" title="{{ _('Info message') }}">
				{%- for message in messages %}
					<div class="flashMessage">{{ message }}</div>
				{% endfor -%}
				</div>
			{% endif -%}
		{% endwith -%}
		{#
 		{%- block footer -%}
		<div class="bottombar">
			<div class="fill">
				<div class="container">
					&copy; Copyright 2014 by <a href="http://oxi.ch/">oXiVanisher</a>.
				</div>
			</div>
		</div>
		{%- endblock %}
		-#}
		<script>
			var seen = {};
			$('.flashMessage').each(function() {
			    var txt = $(this).text();
			    if (seen[txt])
			        $(this).remove();
			    else
			        seen[txt] = true;
			});
		</script>
	</body>
</html>
