<!DOCTYPE HTML>
<html>
	<head>
		{%- block head %}
		<title>MMOFriends {% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="MMOJunkies Friends">
		<meta name="author" content="Marc Urben">

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<!-- <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" /> -->
		<link href="{{ url_for('static', filename='jquery/jquery-ui.css') }}" rel="stylesheet" />
		
		<script src="{{ url_for('static', filename='jquery/jquery.dataTables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery/jquery-ui.structure.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery/jquery-ui.theme.min.js') }}"></script>

		<link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
		
		<link href="{{ url_for('static', filename='friendstable.css') }}" rel="stylesheet" media="all" type="text/css" />
		<script src="{{ url_for('static', filename='friendstable.js') }}"></script>
		<!-- <link href="{{ url_for('static', filename='bootstrap/bottombar.css') }}" rel="stylesheet" media="all" type="text/css" /> -->
		<link href="{{ url_for('static', filename='mmofriends.css') }}" rel="stylesheet" media="all" type="text/css" />

		<script>
			$(function() {
				$( "#flashDialogSucccess" ).dialog({
					autoOpen: true,
					dialogClass: 'success',
					modal: true,
					open: function(event, ui) {
						setTimeout(function(){
						$('#dialog').dialog('close');                
						}, 5000);
					},
					buttons: {
						Close: function() {
							$(this).dialog("close");
						}
					}
				});
				$( "#flashDialogError" ).dialog({
					autoOpen: true,
					dialogClass: 'error',
					modal: true,
					// open: function(event, ui) {
					// 	setTimeout(function(){
					// 	$('#dialog').dialog('close');                
					// 	}, 3000);
					// },
					buttons: {
						Close: function() {
							$(this).dialog("close");
						}
					}
				});
				$( "#flashDialogInfo" ).dialog({
					autoOpen: true,
					dialogClass: 'info',
					modal: true,
					open: function(event, ui) {
						setTimeout(function(){
						$('#dialog').dialog('close');                
						}, 5000);
					},
					buttons: {
						Close: function() {
							$(this).dialog("close");
						}
					}
				});
			});
            function showImgPopup(imgSrc) {
            	$('img#popupimg').attr( "src", imgSrc );
            	$("#imgpopup").show();
            }
            function hideImgPopup() {
            	$("#imgpopup").hide();
            }
            function showInfoPopup(infoContentURL) {
            	$("#infopopup").load( infoContentURL );
            	$("#infopopup").show();
            }
            function hideInfoPopup() {
            	$("#infopopup").hide();
            }
		</script>
		{%- endblock %}
	</head>
	<body>
		<div><span id="imgpopup" class="position_bottom_left glow" style="display: none;"><img id="popupimg" src="" /></span></div>
		<div><span id="infopopup" class="position_bottom_right glow" style="display: none;"></span></div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 	<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> MMOFriends</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if session.logged_in -%}
						<li class="{% if url_for('partner_list') == request.path %}active{% endif %}"><a href="{{ url_for('partner_list') }}"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
						<li class="{% if url_for('network_link') == request.path %}active{% endif %}"><a href="{{ url_for('network_link') }}"><span class="glyphicon glyphicon-tasks"></span> Networks</a></li>
						{% endif -%}
						<li class="{% if url_for('about') == request.path %}active{% endif %}"><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					{% if session.logged_in -%}
						{% if session.admin  -%}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Administration <span class="caret"></span></a>
		         				<ul class="dropdown-menu" role="menu">
									<li class="{% if url_for('admin') == request.path %}active{% endif %}"><a href="{{ url_for('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
									<li class="{% if url_for('dev') == request.path %}active{% endif %}"><a href="{{ url_for('dev') }}"><span class="glyphicon glyphicon-wrench"></span> Dev Tools</a></li>
								</ul>
							</li>
						{% endif -%}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-off"></span> {{ session.nick }}<span class="caret"></span></a>
	         				<ul class="dropdown-menu" role="menu">
								<li class="{% if url_for('profile_show') == request.path %}active{% endif %}"><a href="{{ url_for('profile_show') }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
								<li class="divider"></li>
								<li><a href="{{ url_for('profile_logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
							</ul>
						</li>
					{% else %}
						<li class="{% if url_for('profile_register') == request.path %}active{% endif %}"><a href="{{ url_for('profile_register') }}"><span class="glyphicon glyphicon-user"></span> Registration</a></li>
						<li><a href="{{ url_for('profile_login') }}"><span class="glyphicon glyphicon-off"></span> Login</a></li>
					{% endif -%}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			{%- block content %}{% endblock -%}
		</div>
		{%- with messages = get_flashed_messages(category_filter=["success"]) %}
			{%- if messages %}
				<div id="flashDialogSuccess" title="Success message">
				<ul>
				{%- for message in messages %}
					<p>{{ message }}</p>
				{% endfor -%}
				</ul>
				</div>
			{% endif -%}
		{% endwith -%}
		{%- with messages = get_flashed_messages(category_filter=["error"]) %}
			{%- if messages %}
				<div id="flashDialogError" title="Error message">
				<ul>
				{%- for message in messages %}
					<p>{{ message }}</p>
				{% endfor -%}
				</ul>
				</div>
			{% endif -%}
		{% endwith -%}
		{%- with messages = get_flashed_messages(category_filter=["info"]) %}
			{%- if messages %}
				<div id="flashDialogInfo" title="Info message">
				<ul>
				{%- for message in messages %}
					<p>{{ message }}</p>
				{% endfor -%}
				</ul>
				</div>
			{% endif -%}
		{% endwith -%}
<!-- 		{%- block footer -%}
		<div class="bottombar">
			<div class="fill">
				<div class="container">
					&copy; Copyright 2014 by <a href="http://oxi.ch/">oXiVanisher</a>.
				</div>
			</div>
		</div>
		{%- endblock %} -->
		</body>
</html>