<table id="systemGameLinks" style="width: 100%; margin-bottom: 0px; table-layout: fixed;" class="table-striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function drawLinkContent{{ box.netHandle }}{{ box.handle }}( data ) {
		// showMe = false;
		// for (id in data.lastly) {
		// 	var entry = data.lastly[id];
		// 	var netData = data.net[entry.net];
		// 	showMe = true;
		// 	img = '<img class="partner_list_icon" src="' + netData.icon + '" title="' + netData.description + '" />';

		// 	$('#systemLinks').append('<tr><td class="text-wrap">' + img + ' ' + entry.age + ' ' + entry.text + '</td></tr>');

		// }
		for (net in data.games) {
			console.log(data.games[net].keys());
			if (net.keys().length > 0) {
				avatar = "";
				name = "";
				nicks = "";
				nets = "";
				$( "#systemGameLinks" ).append('<tr><td class="text-wrap">'+ avatar + name + nicks + '</td><td style="width:' + (Object.keys(data.nets).length * 18) + 'px;">' + nets + '</td></tr>');
			}
		}

		showMe = true;
		return showMe
	}
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ) {
		var run = true;
		if (force == undefined) {
			if ($( "#systemLinks" ).parents('.col').is(":hidden")){
				run = false;
			} else if (windowIdleCheck()) {
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {
				console.log(data);
				drawLinkContent{{ box.netHandle }}{{ box.handle }}( data );

				// $( "#systemLinks" ).fadeOut( 100, function () {
				// 	$('#systemLinks').empty();
				// 	if (drawLinkContent{{ box.netHandle }}{{ box.handle }}( data, true )) {
				// 		$( "#systemLinks" ).fadeIn( 100 );
				// 	}
				// });

			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 331000);
		}
	}
</script>