<table id="systemGameLinks" style="width: 100%; margin-bottom: 0px; table-layout: fixed;" class="table-striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function drawLinkContent{{ box.netHandle }}{{ box.handle }}( data ) {
		for (link in data.links) {
			showMe = true;

			netIcon = '<img class="partner_list_icon" src="{{ url_for('get_image', imgType='network') }}' + data.links[link].net + '" />';
			gameIcon = '<img class="partner_list_icon" src="{{ url_for('get_game_icon') }}' + data.links[link].net + '/' + data.links[link].gameId + '" />';
			url = data.links[link].link;
			title = data.links[link].comment;
			name = data.links[link].name;
			$( "#systemGameLinks" ).append('<tr><td style="width: 36px;">' + netIcon + gameIcon + '</td><td class="text-wrap"><a href="' + url + '" title="' + title + '" target="_new">'+ name + '</a></td></tr>');
		}

		return showMe
	}
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ) {
		var run = true;
		if (force == undefined) {
			if ($( "#systemGameLinks" ).parents('.col').is(":hidden")){
				run = false;
			} else if (windowIdleCheck()) {
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {
				$( "#systemGameLinks" ).fadeOut( 100, function () {
					$('#systemGameLinks').empty();
					if (drawLinkContent{{ box.netHandle }}{{ box.handle }}( data, true )) {
						$( "#systemGameLinks" ).fadeIn( 100 );
					}
				});
			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 331000);
		}
	}
</script>