<table id="systemUsers" style="width: 100%; margin-bottom: 0px; table-layout: fixed;" class="table-striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ){
		var run = true;
		if (force == undefined) {
			if ($( "#systemUsers" ).parents('.col').is(":hidden")){
				run = false;
			} else if (windowIdleCheck()) {
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {

				$( "#systemUsers" ).fadeOut( 100, function () {
					$( "#systemUsers" ).empty();
					for (id in data.users) {
						var user = data.users[id];
						var name = '<a href="' + user.url + '" title="' + user.name + '">' + user.nick + '</a>';

						var nicks = '';
						var start = true;
						var avatar = '<img src="' + user.avatar + '" title="' + user.nick + '" class="partner_list_icon"> ';
						for (nick in user.aliases) {
							if (start) {
								start = false;
							} else {
								nicks += ', ';
							}
							nicks += user.aliases[nick];
						}
						if (nicks.length) {
							nicks = ' aka ' + nicks;
						}

						var nets = '';
						for (netId in data.nets) {
							net = data.nets[netId];

							if (user.onlineNets.indexOf(netId) > -1) {
								opac = 1;
								linkUrl = user.url + "/" + netId;
							} else if (user.nets.indexOf(netId) > -1) {
								opac = 0.5;
								linkUrl = user.url + "/" + netId;
							} else {
								opac = 0.1;
								linkUrl = false;
							}
							
							mouseOver = '';
							// linkIndex = user.detailLinks.indexOf(netId);
							console.log(user.detailLinks.netId);
							console.log(user.detailLinks[netId]);
							
							
							netIcon = '<img src="' + net.iconUrl + '" style="opacity: ' + opac + ';" class="partner_list_icon pull-right" title="' + net.name + ' ' + net.description + ' (' + net.usersConnected + ' connected)' + mouseOver + '">';
							if (linkUrl) {
								netIcon = '<a href="' + linkUrl + '" title="' + net.name + ' ' + net.description + '">' + netIcon + '</a>';
							}
							nets += netIcon;
						}

						$('#systemUsers').append('<tr><td class="text-wrap">'+ avatar + name + nicks + '</td><td style="width:' + (Object.keys(data.nets).length * 18) + 'px;">' + nets + '</td></tr>');
					}
					$( "#systemUsers" ).fadeIn( 100 );
				});
			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 901000);
		}
	}
</script>