<ul class="list-group twitchChannels"></ul>
<script type="text/javascript">
	(function() {
		var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";

		$.getJSON( dataUrl ).done( function( data ) {
			for (id in data.channels) {
				s = data.streams[id];
				c = data.channels[id];
				var onlineText = "";
				var status = "Offline";
				if (s.stream) {
					onlineText = "<br /><img class='image-responsive' src='" + s.stream.preview + "' title='" + s.stream.game + "'/>";
					status = "Online";
				}

				var liText = "<a href='" + c.url + "' target='_blank'>" + c.display_name + " (" + status + ")" + onlineText + "</a>";

				$('<li class="list-group-item">' + liText + '</li>').appendTo('ul.twitchChannels');
			}
		});
	})();
</script>
