{#-
	Handle: {{ box.handle }}
	NetHandle: {{ box.netHandle }}
	template: {{ box.settings.template }}
	loggedIn: {{ box.settings.loggedin }}
	admin: {{ box.settings.admin }}
	development: {{ box.settings.development }}
	JSON URL: {{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}
	HTML URL: {{ url_for('dashboard_method_html', netHandle=box.netHandle, methodHandle=box.handle) }}
-#}
<div id="{{ box.netHandle }}{{ box.handle }}-content"></div>
<script type="text/javascript">
	function resizeBox{{ box.netHandle }}{{ box.handle }}() {
		var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";

		$.getJSON( dataUrl ).done( function( data ) {

			var divHeight = $("#{{ box.netHandle }}{{ box.handle }}-section").height() - 10;
			var divWidth = $("#{{ box.netHandle }}{{ box.handle }}-section").width() - 10;

			$("#{{ box.netHandle }}{{ box.handle }}-content").width(divWidth).height(divHeight);

			$("#{{ box.netHandle }}{{ box.handle }}-content").empty();
			$("#{{ box.netHandle }}{{ box.handle }}-content").jQCloud( data.{{ box.handle }}, {
				shape: 'rectangular'
			});
		});
	}
	(function() {
		// $( "#{{ box.netHandle }}{{ box.handle }}" ).resize(function(){
		// 	// $(element).empty().jQcloud(words);
		// 	resizeBox{{ box.netHandle }}{{ box.handle }}();
		// });
		resizeBox{{ box.netHandle }}{{ box.handle }}();
	})();
</script>