<table id="rssNewsFeed" style="width: 100%; margin-bottom: 0px; table-layout: fixed;" class="table-striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function drawNewsContent{{ box.netHandle }}{{ box.handle }}( data, drawOnline ) {
		showMe = false;
		for (id in data.news) {
			var entry = data.news[id];
			showMe = true;

			$('#rssNewsFeed').append('<tr><td class="text-wrap"><span class="glyphicon glyphicon-info-sign" title="' + entry.feedTitle + '"></span> ' + entry.age + ' <a href="' + entry.link + '" title="' + entry.date + ': ' + entry.summary + ' by ' + entry.author + '" target="_blank">' + entry.title + '</a></td></tr>');

		}

		return showMe
	}
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ) {
		var run = true;
		if (force == undefined) {
			if ($( "#rssNewsFeed" ).parents('.col').is(":hidden")){
				run = false;
			} else if (windowIdleCheck()) {
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {

				$( "#rssNewsFeed" ).fadeOut( 100, function () {
					$('#rssNewsFeed').empty();
					if (drawNewsContent{{ box.netHandle }}{{ box.handle }}( data, true )) {
						$( "#rssNewsFeed" ).fadeIn( 100 );
					}
				});

			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 301000);
		}
	}
</script>