<ul id="networkLinks" class="list-group" style="margin-bottom: 0px;"></ul>
<div id="networkLinkInput" title="Authentication">
  <p>
     <label id ="networkLinkInputLabel" for="widgetName">Loading...</label>
     <input type="text" id="userKey" autocomplete="off" />
  </p>
</div>
<script type="text/javascript">
	(function () {
		function submitUserKey() {
			if ($( "#userKey" ).val()) {
				console.log("sending: " + $( "#userKey" ).val());
				var resultUrl = "{{ url_for('network_link') }}";
				$.post(resultUrl, {do: 'finalize',
								   handle: $( "#linkForm [name=handle]" ).val(),
								   userKey: $( "#userKey" ).val() } )
					.always( function( data ) {
		            	$('#networkLinkInput').dialog('close');
		            	loadLinkedNetworks();
		            	// window.location.href = data.redirect;
		            	// location.reload();
				} );
			}
		}

		$('#networkLinkInput').dialog({
		    modal: true,
		    autoOpen: false,
		    buttons: {
		        'Cancel': function() {
					var resultUrl = "{{ url_for('network_link') }}";
					$.post(resultUrl, {do: 'cancel', handle: $( "#linkForm [name=handle]" ).val() } )
						.always( function( data ) {
			            	$('#networkLinkInput').dialog('close');
			            	loadLinkedNetworks();
					} );
		        },
		        'Accept': function() {
		        	submitUserKey();
		        }
		       }
		});

		$("#userKey").keypress(function(event) {
			if (event.which == 13) {
				submitUserKey();
		    }
		});

		function drawLinkContent ( net ) {
			var content = "";
			if (net.linkData.link) {
				var link = net.linkData.link
				var content = '<a href="' + link.linkUrl +'" ' + loader + ' class="btn btn-xs btn-default pull-right">' + link.comment + '</a>';
			} else if (net.linkData.dropdown) {
				var htmlContent = '<input type="hidden" name="do" value="link" />';
				htmlContent += '<input type="hidden" name="handle" value="' + net.handle + '" />';
				htmlContent += '<select class="form-control input-sm" name="id">';
				for (id in net.linkData.dropdown) {
					var item = net.linkData.dropdown[id];
					htmlContent += '<option value="' + item.value + '">' + item.name + '</option>';
				}
				htmlContent += '</select>';
				htmlContent += '<button class="btn btn-sm btn-default" type="submit">Login</button>';

				var form = '<div class="pull-right form-group">' + htmlContent + '</div>';
				var content = '<form action="' + net.linkData.action + '" method="post" id="linkForm" class="form-inline">' + form + '</form>';
			} 
			return content;
		}

		function drawLinkedNetworksContent( data ) {
			loader = ' onclick="showWorking($(\'#{{ box.netHandle }}{{ box.handle }}-section\'));"';
			$("#networkLinks").empty();

			// false linked networks
			for (id in data.linkedNetworks) {
				net = data.linkedNetworks[id];
				var name = net.name + ' ' + net.description;
				var img ='<img src="' + net.icon + '" class="partner_list_icon" title="' + net.name + '" />';
				var sign = '<span class="glyphicon glyphicon-warning-sign text-warning pull-right"></span>';
				var li = '<li class="list-group-item text-warning text-wrap" title="Link to ' + net.name + '">' + img  + name + drawLinkContent( data.linkNetwork[id] ) + sign + '</li>';
				$("#networkLinks").append(li);
			}

			// unlinked networks
			for (id in data.linkNetwork) {
				// net = data.linkNetwork[id];
				// if (net.linkData.link) {
				// 	var link = net.linkData.link
				// 	var content = '<a href="' + link.linkUrl +'" ' + loader + ' class="btn btn-xs btn-default pull-right">' + link.comment + '</a>';
				// } else if (net.linkData.dropdown) {
				// 	var htmlContent = '<input type="hidden" name="do" value="link" />';
				// 	htmlContent += '<input type="hidden" name="handle" value="' + net.handle + '" />';
				// 	htmlContent += '<select class="form-control input-sm" name="id">';
				// 	for (id in net.linkData.dropdown) {
				// 		var item = net.linkData.dropdown[id];
				// 		htmlContent += '<option value="' + item.value + '">' + item.name + '</option>';
				// 	}
				// 	htmlContent += '</select>';
				// 	htmlContent += '<button class="btn btn-sm btn-default" type="submit">Login</button>';

				// 	var form = '<div class="pull-right form-group">' + htmlContent + '</div>';
				// 	var content = '<form action="' + net.linkData.action + '" method="post" id="linkForm" class="form-inline">' + form + '</form>';
				// } else {
				// 	continue;
				// }

				var name = net.name + ' ' + net.description;
				var img ='<img src="' + net.icon + '" class="partner_list_icon" title="' + net.name + '" />';
				var li = '<li class="list-group-item text-wrap" title="Link to ' + net.name + '">' + img  + name + drawLinkContent( data.linkNetwork[id] ) + '</li>';
				$("#networkLinks").append(li);
			}

			// linked networks
			for (id in data.linkedNetworks) {
				net = data.linkedNetworks[id];
				//network_data
				var name = net.name + ' ' + net.description;
				var img ='<img src="' + net.icon + '" class="partner_list_icon" title="' + net.name + '" />';
				var link = '<a href="' + net.unlinkLink + '" title="Unlink"><span class="glyphicon glyphicon-remove text-success pull-right"></span></a>';
				var li = '<li class="list-group-item text-success text-wrap" title="Linked since ' + net.linked_date + '">' + img  + name + link + '</li>';
				$("#networkLinks").append(li);
			}
		}

		function loadLinkedNetworks() {
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {
				drawLinkedNetworksContent( data );

				$( "#linkForm" ).submit(function( event ) {
					event.preventDefault();
					var values = $(this).serialize();

					// work only if a user is choosen
					if ($(this).find('[name=id]').val()) {
						var resultUrl = "{{ url_for('network_link') }}";
						$.post(resultUrl, values, function(data2, textStatus) {
							$("#networkLinkInputLabel").html(data2.message);
						}, "json");

						$('#networkLinkInput').dialog('open');
						$("#userKey").focus();
					}
				});
			});
		}
		loadLinkedNetworks();
	})();
</script>