<table id="systemUsers" style="width: 100%; margin-bottom: 0px;" class="table-striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ){
		var run = true;
		if (force == undefined) {
			if ($( "#systemUsers" ).parents('.col').is(":hidden")){
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {

				$( "#systemUsers" ).fadeOut( 100, function () {
					$( "#systemUsers" ).empty();
					for (id in data.users) {
						var user = data.users[id];
						var name = '<a href="' + user.url + '" title="' + user.name + '">' + user.nick + '</a>';

						var nicks = '';
						var start = true;
						for (nick in user.aliases) {
							if (start) {
								start = false;
							} else {
								nicks += ', ';
							}
							nicks += user.aliases[nick];
						}
						if (nicks.length) {
							nicks = ' aka ' + nicks;
						}

						var nets = '';
						for (netId in data.nets) {
							net = data.nets[netId];
							console.log(user.nets);

							if (user.nets.indexOf(netId) > -1) {
								opac = 1;
								// imgSrc = net.iconUrl;
							} else {
								opac = 0.4;
								// imgSrc = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
							}
							
							nets += '<img src="' + net.iconUrl + '" style="opacity: ' + opac + ';" class="partner_list_icon pull-right" title="' + net.name + ' ' + net.description + ' (' + net.usersConnected + ')' + '">';
						}

						$('#systemUsers').append('<tr><td class="text-wrap">'+ name + nicks + nets + '</td></tr>');
					}
					$( "#systemUsers" ).fadeIn( 100 );
				});
			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 901000);
		}
	}
</script>