<form action="{{ url_for('profile_login') }}" id="login" method="post" autocomplete="on">
	<dl>
		<dt>{{ _('Login') }}:
		<dd><input type="text" name="nick" class="backend" autofocus="autofocus" placeholder="{{ _('Nickname') }}">
		<dd><input type="password" name="password" class="backend" placeholder="{{ _('Password') }}">
		<dd><button class="btn btn-default" type="submit">{{ _('Login') }}</button> <a href="{{ url_for('profile_register') }}" class="btn btn-default">{{ _('Register') }}</a>
	</dl>
</form>
<br />
<br />
<form action="{{ url_for('profile_password_reset') }}" id="pwreset" method="post" autocomplete="on">
	<dl>
		<dt>{{ _('Password lost') }}:
		<dd><input type="text" name="email" class="backend" placeholder="{{ _('Email') }}">
		<dd><button class="btn btn-default" type="submit">{{ _('Password lost') }}</button>
	</dl>
</form>