{# <ul id="steamNowPlaying" class="list-group" style="margin-bottom: 0px;"></ul> #}
<table id="steamNowPlaying" style="width: 100%; margin-bottom: 0px; table-layout: fixed;" class="table-striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function drawNowPlayingContent{{ box.netHandle }}{{ box.handle }}( data ) {
		showMe = false;
		for (id in data.gamesNowPlaying) {
			user = data.gamesNowPlaying[id]

			var onclickGame = 'onclick="window.open(\'' + user.gameUrl + '\')"';
			var onclickUser = 'onclick="window.open(\'' + user.userUrl + '\')"';
			var onclickWatch = 'onclick="window.open(\'' + user.watchUrl + '\')"';

			if (user.internal) {
				display_name = '<img class="partner_list_icon" src="{{ url_for('get_image', imgType='network', imgId='System') }}" title="{{ box.netHandle }}" ' + onclickUser + ' /> ';
			} else {
				display_name = '<img class="partner_list_icon" src="{{ url_for('get_image', imgType='network', imgId=box.netHandle) }}" title="{{ box.netHandle }}" ' + onclickUser + ' /> ';
			}
			display_name = display_name + '<img class="partner_list_icon" src="' + user.img_icon_url + '" title="{{ box.netHandle }}" ' + onclickGame + ' /> ';
			display_name = display_name + user.username + ': ' + user.gamename

			mouseOver = '';
			if (user.detailLink) {
				mouseOver = 'onmouseover="showInfoPopup(\'' + user.detailLink + '\');" onmouseout="hideInfoPopup();"';
			}

			// var content = '<label class="control-label text-wrap clickable" title="Friend of: ' + user.friendof + '">' + display_name + '</label>';

			// $('#steamNowPlaying').append('<li class="list-group-item" ' + onclickWatch + ' style="cursor: pointer;" ' + mouseOver + '>' + content + '</li>');

			$('#steamNowPlaying').append('<tr><td class="text-wrap" ' + mouseOver + ' title="Friend of: ' + user.friendof + '">'+ display_name + '</td></tr>');


			showMe = true;
		}
		return showMe;
	}
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ) {
		var run = true;
		if (force == undefined) {
			if ($( "#steamNowPlaying" ).parents('.col').is(":hidden")){
				run = false;
			} else if (windowIdleCheck()) {
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {

				$( "#steamNowPlaying" ).fadeOut( 100, function () {
					$( "#steamNowPlaying" ).empty();
					if (! drawNowPlayingContent{{ box.netHandle }}{{ box.handle }}( data )) {
						$( '#steamNowPlaying' ).append('<li class="list-group-item"><label class="control-label text-wrap">Nobody is playing on steam</label></li>');
					}
					$( "#steamNowPlaying" ).fadeIn( 100 );
				});

			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 32000);
		}
	}
</script>