<table id="systemUsers" class="list-group" style="width: 100%;" class="striped"></table>
<script type="text/javascript">
	var timeout{{ box.netHandle }}{{ box.handle }};
	function redrawBox{{ box.netHandle }}{{ box.handle }}( force ){
		var run = true;
		if (force == undefined) {
			if ($( "#systemUsers" ).parents('.col').is(":hidden")){
				run = false;
			}
		}
		if (run) {
			clearTimeout(timeout{{ box.netHandle }}{{ box.handle }});
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {

				$( "#systemUsers" ).fadeOut( 100, function () {
					$( "#systemUsers" ).empty();
					for (id in data.users) {
						var user = data.users[id];
						var name = '<a href="' + user.url + '" title="' + user.name + '">' + user.nick + '</a>';

						var nicks = '';
						for (nick in user.aliases) {
							nicks += ', ' + nick;
						}
						if (nicks.length) {
							nicks = ' aka ' + nicks;
						}

						console.log(user.nets);
						var nets = '';
						for (netId in user.nets) {
							net = user.nets[netId];
							// user.nets[net][networkImgs]
							nets += '<img src="' + net[iconUrl] + '" class="partner_list_icon" title="' + net[name] + ' ' + net[description] + '(' + net[usersConnected] + ')' + '">';
						}

						$('#systemUsers').append('<tr><td class="text-wrap">'+ name + nicks + '</td><td class="pull-right">' + nets + '</td></tr>');
					}
					$( "#systemUsers" ).fadeIn( 100 );
				});
			});
			timeout{{ box.netHandle }}{{ box.handle }} = setTimeout(redrawBox{{ box.netHandle }}{{ box.handle }}, 901000);
		}
	}
</script>