<ul id="systemStats" class="list-group" style="margin-bottom: 0px;"></ul>
<script type="text/javascript">
	(function () {
		function showSystemStats(){
			if ($( "#systemStats" ).parents('.col').is(":visible")) {
				var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
				$.getJSON( dataUrl ).done( function( data ) {
					$('#systemStats').empty();
					for (net in data) {
						img = '<img class="partner_list_icon pull-right" src="' + data[net].icon + '" title="' + data[net].description + '" />';
						var content = ""
						for (item in data[net].data) {
							content = content + '<br /><span>' + item + '</span><span class="pull-right">' + data[net].data[item] + '</span>';
						}
						$('#systemStats').append('<li class="list-group-item" title="' + data[net].description + '"><strong>' + net + '</strong>' + img + content + '</li>');
					}
				});
			}
		}
		showSystemStats();
		setInterval(showSystemStats, 60000 );
	})();
</script>