<a href="{{ url_for('about') }}" class="btn btn-sm btn-primary btn-block">About</a>
<!-- <a href="{{ url_for('network_link') }}" class="btn btn-sm btn-primary btn-block">Connect Network</a></li> -->
<a href="{{ url_for('profile_show') }}" class="btn btn-sm btn-primary btn-block">Your profile settings</a>
<a href="{{ url_for('partner_show', partnerId=session.userid) }}" class="btn btn-sm btn-primary btn-block">Your gamer profile</a>
<a href="http://open.soundrop.fm/s/XwG6lvAe96XtrMLG" target="_blank" class="btn btn-sm btn-primary btn-block">Radio (Spotify and Deezer)</a>
<a href="ts3server://{{ config.networkConfig.TS3.exturl }}?port={{ config.networkConfig.TS3.extport }}&nickname={{ session.nick }}&password={{ config.networkConfig.TS3.extpassword }}" class="btn btn-sm btn-primary btn-block"><img src="{{ url_for('get_image', imgType='network', imgId='TS3') }}" class="partner_list_icon" title="Connect to TS3 Server"> Connect to TS3 Server <img src="{{ url_for('get_image', imgType='network', imgId='TS3') }}" class="partner_list_icon" title="Connect to TS3 Server"></a>
{% if config.PAYPAL_ENCRIPTED -%}
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="{{ config.PAYPAL_ENCRIPTED }}">
<input type="submit" value="Donate with PayPal" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal." class="btn btn-sm btn-primary btn-block">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
{%- endif %}