<ul id="networkLinks" class="list-group" style="margin-bottom: 0px;"></ul>
<script type="text/javascript">
	(function () {
		function drawLinkedNetworksContent( data ) {
			if (data.doLinkReturn) {
				// draw the other content
			} else {
				loader = ' onclick="showWorking($(\'#{{ box.netHandle }}{{ box.handle }}-section\'));"';
				// networks to link
				for (id in data.linkNetwork) {
					net = data.linkNetwork[id];

					console.log("aa: " + net.linkData.link);
					if (net.linkData.link) {
						var link = net.linkData.link
						var content = '<a href="' + link.linkUrl +'" ' + loader + ' class="btn btn-xs btn-default pull-right">' + link.comment + '</a>';
					} else if (net.linkData.dropdown) {
						var htmlContent = '<input type="hidden" name="do" value="link" />';
						htmlContent += '<input type="hidden" name="handle" value="' + net.handle + '" />';

						htmlContent += '<td><select class="form-control input-sm" name="id">';
						for (id in net.linkData.dropdown) {
							var item = net.linkData.dropdown[id];
							htmlContent += '<option value="' + item.value + '">' + item.name + '</option>';
						}
						htmlContent += '</select></td>';
						htmlContent += '<td style="vertical-align: top;"><button class="btn btn-sm btn-default" type="submit">Login</button></td>';

						var form = '<form action="' + net.linkData.dropdown.action + '" method="post"><tr>' + htmlContent + '</tr></form>';
						var content = '<table class="pull-right">' + form + '</table>';
					} else {
						continue;
					}

					var name = net.name + ' ' + net.description;
					var img ='<img src="' + net.icon + '" class="partner_list_icon" title="' + net.name + '" />';
					var li = '<li class="list-group-item text-warning text-wrap" title="Link to ' + net.name + '">' + img  + name + content + '</li>';
					$("#networkLinks").append(li);
				}

				// linked networks
				for (id in data.linkedNetworks) {
					net = data.linkedNetworks[id];
					var link = '<a href="' + net.unlinkLink + '" title="Unlink"><span class="glyphicon glyphicon-remove text-success pull-right"></span></a>';
					var name = net.name + ' ' + net.description;
					var img ='<img src="' + net.icon + '" class="partner_list_icon" title="' + net.name + '" />';
					var li = '<li class="list-group-item text-success text-wrap" title="Linked since ' + net.linked_date + '">' + img  + name + link + '</li>';
					$("#networkLinks").append(li);
				}
			}
		}
		function loadLinkedNetworks() {
			var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";
			$.getJSON( dataUrl ).done( function( data ) {
				drawLinkedNetworksContent( data );
			});
		}
		loadLinkedNetworks();
	})();
</script>