{#-
	Handle: {{ box.handle }}
	NetHandle: {{ box.netHandle }}
	template: {{ box.settings.template }}
	loggedIn: {{ box.settings.loggedin }}
	admin: {{ box.settings.admin }}
	development: {{ box.settings.development }}
	JSON URL: {{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}
	HTML URL: {{ url_for('dashboard_method_html', netHandle=box.netHandle, methodHandle=box.handle) }}
-#}
<div id="{{ box.netHandle }}-{{ box.handle }}-content" style="width: 342px; height: 300px;"></div>
<script type="text/javascript">
	(function() {
		var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";

		var divHeight = $("#{{ box.netHandle }}-{{ box.handle }}-content").height();
		var divWidth = $("#{{ box.netHandle }}-{{ box.handle }}-content").width();

		$.getJSON( dataUrl ).done( function( data ) {
			$("#{{ box.netHandle }}-{{ box.handle }}-content").jQCloud( data.{{ box.handle }}, {
				shape: 'rectangular'
			});
		});

	})();
</script>
