<ul class="twitchChannels"></ul>
<script type="text/javascript">
	(function() {
		var dataUrl = "{{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}";

		$.getJSON( dataUrl ).done( function( data ) {
			for (c in data.channels) {
				stream = data.streams[c];
				channel = data.channels[c];
				var streamText = "";
				if (stream.stream) {
					liText = liText + "<br /><img src='" + stream.stream.preview.medium + "' />'";
				}

				var liText = "<a href='" + channel.url + "' target='_blank'>" + channel.display_name + streamText + "</a>";

				$('<li />', { html: liText }).appendTo('ul.twitchChannels');
			}
		});
	})();
</script>
