{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

	<div class="row">
	
		<div class="col-md-12 status">
			<div class="box">
				<a href"javascript:void(0);" class="undo">Undo last changes.</a>
			</div>
		</div>
	
		{% for box in boxes %}
		<div class="col-md-4 col">
			<div class="box" id="{{ box.netHandle }}-{{ box.handle }}">
				
				<header><table style="width: 100%;">
						<tr>
							<td style="text-align: left; vertical-align: baseline; font-size: 18px; margin: 5px;">{{ box.settings.title }}</td>
							<td style="text-align: right; vertical-align: baseline;">
								<a href="javascript:void(0);" class="fa fa-edit"></a>
								<a href="javascript:void(0);" class="fa fa-expand"></a>
								<a href="javascript:void(0);" class="fa fa-close"></a>
							</td>
						</tr>
					</table></header>
				
				<section id="{{ box.netHandle }}-{{ box.handle }}-content">

					<p>{% include box.settings.template %}</p>					
					<!--
					<p>Handle: {{ box.handle }}<br />
					NetHandle: {{ box.netHandle }}<br />
					template: {{ box.settings.template }}<br />
					loggedIn: {{ box.settings.loggedin }}<br />
					admin: {{ box.settings.admin }}<br />
					development: {{ box.settings.development }}<br />
					JSON URL: {{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}<br />
					HTML URL: {{ url_for('dashboard_method_html', netHandle=box.netHandle, methodHandle=box.handle) }}<br />
					<br /><br /><br /></p>
					-->
					
				</section>
				<footer>
														
				</footer>	
				
			</div>
		</div>
		{% endfor %}
	</div>
	<!--
	// <script>
	// 	$(function() {
	// 	{% for box in boxes %}
	// 		$("#{{ box.netHandle }}-{{ box.handle }}-content").load( '{{ url_for('dashboard_method_html', netHandle=box.netHandle, methodHandle=box.handle) }}' );
	// 	{% endfor %}
	// 	});
	// </script>
	-->
{% endblock %}