{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

	<div class="row">
	
		<div class="col-md-12 status">
			<div class="box">
				<a href"javascript:void(0);" class="undo">Undo last changes.</a>
			</div>
		</div>
	
		{% for box in boxes %}
		<div class="col-md-4 col">
			<div class="box" id="{{ box.netHandle }}-{{ box.handle }}-">
				
				<header>
					<a href="javascript:void(0);" class="fa fa-edit"></a>
					<a href="javascript:void(0);" class="fa fa-expand"></a>
					<a href="javascript:void(0);" class="fa fa-close"></a>
				</header>
				
				<section>
					
					<h3>{{ box.settings.title }}</h3>
					
					<p>Handle: {{ box.handle }}<br />
					NetHandle: {{ box.netHandle }}<br />
					template: {{ box.settings.template }}<br />
					loggedIn: {{ box.settings.loggedin }}<br />
					admin: {{ box.settings.admin }}<br />
					JSON URL: {{ url_for('dashboard_method_json', netHandle=box.netHandle, methodHandle=box.handle) }}<br />
					HTML URL: {{ url_for('dashboard_method_html', netHandle=box.netHandle, methodHandle=box.handle) }}<br />
					<br /><br /><br /></p>
					
				</section>
				<footer>
														
				</footer>	
				
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}