{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

	<div class="row">
	
		<div class="col-md-12 status">
			<div class="box">
				<a href"javascript:void(0);" class="undo">Undo last changes.</a>
			</div>
		</div>
	
		{% for box in boxes %}
		<div class="col-md-4 col">
			<div class="box">
				
				<header>
					<a href="javascript:void(0);" class="fa fa-edit"></a>
					<a href="javascript:void(0);" class="fa fa-expand"></a>
					<a href="javascript:void(0);" class="fa fa-close"></a>
				</header>
				
				<section>
					
					<h3>{{ box.title }}</h3>
					
					<p>Handle: {{ box.handle }}<br />
					loggedIn: {{ box.settings.loggedin }}<br />
					admin: {{ box.settings.admin }}<br /><br /><br /><br /><br /><br /><br /></p>
					
				</section>
				<footer>
														
				</footer>	
				
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}