{% extends "base.html" %}
{% block title %}MMOFriends{% endblock %}
{% block content %}
<table class='table table-striped' id='dt_friendstable'>
	<thead>
		<tr>
 			<th style='width:80px;'>Network</th>
			<th style='width:80px;'>Nick Name</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
		</tr>
	</thead>
	<tbody>
	{% for friend in friends %}
		<tr>
			<td onmouseover="showInfoPopup('{{ url_for('partner_show_details', networkId=friend.networkId, partnerId=friend.id) }}');"
				onmouseout="hideInfoPopup();" onclick="document.location='{{ url_for('network_show', networkId=friend.networkId) }}'">
				<a href="{{ url_for('network_show', networkId=friend.networkId) }}">
				{%- for img in friend.networkImgs -%}
					<img class="icon" src="{{ url_for('get_image', imgType=img.type, imgId=img.name) }}" title="{{ img.title }}" />
				{%- endfor %}
				{{ friend.networkText }}</a>
			</td>
			<td onmouseover="showInfoPopup('{{ url_for('partner_show_details', networkId=friend.networkId, partnerId=friend.id) }}');"
				onmouseout="hideInfoPopup();" onclick="document.location='{{ url_for('partner_show', friendId=friend.friendId) }}'"
				/><a href="{{ url_for('partner_show', friendId=friend.id) }}">
				{%- for img in friend.friendImgs -%}
					<img class="icon" src="{{ url_for('get_image', imgType=img.type, imgId=img.name) }}" title="{{ img.title }}" />
				{%- endfor %}
				{{ friend.nick }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
