{% extends "base.html" %}
{% block title %}{{ _('Game links')}}{% endblock %}
{% block content -%}
<div class="content_block">
<h3>{{ _('Game links')}}</h3>
<table class='table table-striped' id='dt_friendstable'>
	<thead>
		<tr>
 			<th style='width:80px;'>{{ _('Network') }}</th>
			<th style='width:80px;'>{{ _('Game') }}</th>
			<th style='width:80px;'>{{ _('Name') }}</th>
			<th style='width:80px;'>{{ _('User') }}</th>
			<th style='width:80px;'>{{ _('Age') }}</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
		</tr>
	</thead>
	<tbody>
	{% for link in links %}
		<tr>
			<td><a href="{{ url_for('network_show', netHandle=link.network_handle) }}">{{ networks[link.network_handle] }}</a></td>
			<td>{{ games[link.network_handle][link.gameId] }}</td>
			<td><a href="{{ link.link }}" title="{{ link.comment }}" target="_new">{{ link.name }}</a></td>
			<td><a href="{{ url_for('partner_show', netHandle=link.network_handle, partnerId=link.user_id) }}">{{ link.user.nick }}</a></td>
			<td>{{ get_short_age(link.date) }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table></div>
{% endblock %}