{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<table class='table table-striped' id='dt_friendstable'>
	<thead>
		<tr>
 			<th style='width:80px;'>Network</th>
			<th style='width:80px;'>Nick Name</th>
			<th style='width:120px;'>More Info</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
		</tr>
	</thead>
	<tbody>
	{% for friend in friends %}
		<tr>
			<td onclick="document.location='{{ url_for('show_network', networkId=friend.networkId) }}'">
				<a href="{{ url_for('show_network', networkId=friend.networkId) }}">
				<img class="icon"
					 src="{{ url_for('get_icon', networkId=friend.networkId) }}"
					 title="{{friend.networkName}}: {{friend.networkMoreInfo}}" />
				<img class="icon"
					 src="{{ url_for('get_icon', networkId=friend.networkId) }}"
					 title="{{friend.networkName}}: {{friend.networkMoreInfo}}" />
				</a>
			</td>
			<td onmouseover="showPopup('{{ url_for('get_avatar', friendId=friend.id) }}');"
				onmouseout="hidePopup();"
				onclick="document.location='{{ url_for('show_friend', friendId=friend.friendId) }}'">
				<a href="{{ url_for('show_friend', friendId=friend.id) }}">{{friend.nick}}</a></td>
			<td>{{friend.moreInfo}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
