{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h2>Link Network</h2>
{% if finalizeLinkReturn %}
	<h3>{{ finalizeLinkReturn.longName }}: {{ finalizeLinkReturn.moreInfo }}</h3>
	<strong>{{ finalizeLinkReturn.finalizeLinkReturn }}</strong>
{% elif doLinkReturn %}
	<h3>{{ doLinkReturn.longName }}: {{ doLinkReturn.moreInfo }}</h3>
	<strong>{{ doLinkReturn.doLinkReturn }}</strong>
	<form action="{{ url_for('network_link') }}" method="post" autocomplete="off">
		<input type="hidden" name="do" value="finalize" />
		<input type="hidden" name="shortName" value="{{ doLinkReturn.shortName }}" />
		<input type="text" name="userKey" />
		<input type="submit" />
	</form>
{% else %}
	{% for net in linkData %}
		<h3>{{ net.longName }}: {{ net.moreInfo }}</h3>
		{{ net.description }}
		<form action="{{ url_for('network_link') }}" method="post" autocomplete="off">
			<input type="hidden" name="do" value="link" />
			<input type="hidden" name="shortName" value="{{ net.shortName }}" />
			{% if net.linkData.dropdown %}
				<select name="id">
				{% for entry in net.linkData.dropdown -%}
					<option value="{{ entry.value }}">{{ entry.name }}</option>
				{% endfor %}
				</select>
			{% endif %}
			<br />
			<input type="submit" />
		</form>
	{% endfor %}
{% endif %}

<h2>Linked Networks</h2>
bla bla bla
{% endblock %}
