{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h2>Link Network</h2>
{% if doLinkReturn %}
	<h3>{{ doLinkReturn.name }}: {{ doLinkReturn.moreInfo }}</h3>
	<strong>{{ doLinkReturn.doLinkReturn }}</strong>
	<form action="{{ url_for('network_link') }}" method="post" autocomplete="off">
		<input type="hidden" name="do" value="finalize" />
		<input type="hidden" name="handle" value="{{ doLinkReturn.handle }}" />
		<input type="text" name="userKey" />
		<input type="submit" />
	</form>
{% else %}
<table>
	{% for net in linkNetwork %}
	<tr>
		<td style="vertical-align: top;">
			<img src="{{ url_for('get_image', imgType='network', imgId=net.id) }}" class="link_network_list_icon" title="{{ net.name }}" />
		</td>
		<td style="vertical-align: top;">
			<h3>{{ net.name }}: {{ net.moreInfo }}</h3>
			{{ net.description }}
			{%- if net.linkNetwork.dropdown -%}
				<table>
					<form action="{{ url_for('network_link') }}" method="post" autocomplete="off">
						<input type="hidden" name="do" value="link" />
						<input type="hidden" name="handle" value="{{ net.handle }}" />
						<tr>
							<td style="vertical-align: top;">
								<select name="id">
								{%- for entry in net.linkNetwork.dropdown|sort(attribute='name') %}
									<option value="{{ entry.value }}">{{ entry.name }}</option>
								{%- endfor %}
								</select>
							</td>
							<td style="vertical-align: top;">
								<input type="submit" />
							</td>
						</tr>
					</form>
				</table>
			{%- endif -%}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% if linkNetwork %}
<br />
<h2>Linked Networks</h2>
<ul>
{% for net in linkedNetworks %}
<li><a href="{{ url_for('network_unlink', netHandle=net.handle, netLinkId=net.linkId) }}"
       title="Unlink {{ net.name }}: {{ net.moreInfo }}"><img
       src="{{ url_for('get_image', imgType='network', imgId=net.handle) }}"
	   class="partner_list_icon" title="{{ net.name }}"
	   />{{ net.name }}: {{ net.moreInfo }} since {{ net.linked_date }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}