{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div id="tabs">
	<ul>
	{% for net in networks %}
		<li><a href="#{{ net.handle }}">{{ net.name }}</a></li>
	{% endfor %}
	</ul>
	{% for net in networks %}
		<div id="{{ net.handle }}">
		{% if net.linkData %}
			{% if net.active %}Active{% endif %}
			{% for link in net.linkData %}
				<table>
					<tbody>
						{% if link.avatar -%}
						<tr>
							<td colspan="2">
								<img src="{{ url_for('get_image', imgType='cache', imgId=link.avatar) }}" title="Avatar">
							</td>
						</tr>
						{%- endif -%}
						{% if link.flags|length > 0 -%}
						<tr>
							<td colspan="2">Flags: {% for flag in link.flags -%}
											{{ flag -}}
											{% if not loop.last -%}, {% endif %}
										{%- endfor -%}
							</td>
						</tr>
						{%- endif %}
						{% for detail in link.details -%}
						<tr>
							<td nowrap style="vertical-align: top;">{{ detail.key }}</td>
							<td>{{ detail.value }}</td>
						</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
			{% endfor %}
		{% endif %}
{% endfor %}
</div>
<script>
	$(function() {
		$( "#tabs" ).tabs({ active: {{ active }} });
	});
</script>
{% endblock %}