{% if details.avatar -%}
	<img class="position_bottom_left partner_detail_avatar glow"
				src="{{ url_for('get_image', imgType='cache', imgId=details.avatar) }}"
				title="Avatar">
{%- endif -%}
<table style="margin: 5px;">
	<tbody>
		{% if details.flags|length > 0 -%}
		<tr>
			<td colspan="2">Flags: {% for flag in details.flags -%}
							{{ flag -}}
							{% if not loop.last -%}, {% endif %}
						{%- endfor -%}
			</td>
		</tr>
		{%- endif %}
		{% for detail in details.details -%}
		<tr>
			<td nowrap style="vertical-align: top; padding-right: 6px">{{ detail.key }}</td>
			<td>
				{%- set myValue = detail.value|string -%}
				{%- if myValue.startswith('http://') or myValue.startswith('https://') or myValue.startswith('//') -%}
					<a href="myValue" target="_blank">{{ myValue|truncate(50, True) }}</a>
				{% else %}
					{{ myValue|truncate(50, True) }}
				{%- endif -%}
			</td>
		</tr>
		{%- endfor -%}
	</tbody>
</table>