{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div id="tabs">
	<img src="{{ userAvatar }}" title="myUser.nick" style="float: left; margin-right: 50px;"/>
	<table>
		<tr>
			<td>Nickname</td>
			<td><strong>{{ myUser.nick }}</strong></td>
		</tr>
		<tr>
			<td>Real Name</td>
			<td>{{ myUser.name }}</td>
		</tr>
		{% if myUser.website -%}
		<tr>
			<td>Website</td>
			<td><a href="{{ myUser.website }}" target="_blank" title="{{ myUser.website }}">{{ myUser.website }}</a></td>
		</tr>
		{%- endif -%}			
		</tr>
	</table>
	{%- if networks -%}
		<ul>
		{% for net in networks -%}
			<li><a href="#{{ net.handle }}">{{ net.name }}</a></li>
		{% endfor -%}
		</ul>
	{%- endif -%}
	{% for net in networks -%}
		<div id="{{ net.handle }}">
		{% if net.linkData -%}
			{% for link in net.linkData -%}
				<table>
					<tbody>
						{% if link.avatar -%}
						<tr>
							<td colspan="2">
								<img src="{{ url_for('get_image', imgType='cache', imgId=link.avatar) }}" class="img-responsive" title="Avatar">
							</td>
						</tr>
						{%- endif -%}
						{% if link.flags|length > 0 -%}
						<tr>
							<td colspan="2">Flags: {% for flag in link.flags -%}
											{{ flag -}}
											{% if not loop.last -%}, {% endif %}
										{%- endfor -%}
							</td>
						</tr>
						{%- endif %}
						{% for detail in link.details -%}
						<tr>
							<td nowrap style="vertical-align: top;">{{ detail.key }}</td>
							<td>{{ detail.value }}</td>
						</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
			{% endfor %}
		{% endif %}
{% endfor %}
</div>
<script>
	$(function() {
		$( "#tabs" ).tabs({ active: {{ active }} });
	});
</script>
{% endblock %}