{% extends "base.html" %}
{% block title %}{{ _('Show Friend') }}{% endblock %}
{% block content %}
<div id="tabs">
	<table>
		<tr>
			<td style="vertical-align: top;"><img src="{{ userAvatar }}" title="myUser.nick" class="profileAvatar glow" /></td>
			<td style="vertical-align: top;">
				<h3>{{ myUser.nick }}
				{%- if myUser.name %}
					({{ myUser.name }})
				{%- endif -%}
				</h3>
				{%- if myUser.website %}
					<a href="{{ myUser.website }}" target="_blank" title="{{ myUser.website }}">{{ myUser.website }}</a>
				{%- endif -%}
				{%- if nicknames -%}
					<br />aka:
					{% for nick in nicknames %}
						{%- if not loop.first %}, {% endif -%}
						{{ nick.nick }}
					{%- endfor %}
				{%- endif -%}
			</td>
		</tr>
	</table>
	{%- if networks -%}
		<ul>
		{% for net in networks -%}
			<li><a href="#{{ net.handle }}">{{ net.name }}</a></li>
		{% endfor -%}
		</ul>
	{%- endif -%}
	{% for net in networks -%}
		{% if net.linkData -%}
		<div id="{{ net.handle }}">
			{% for link in net.linkData -%}
				<table>
					<tbody>
						{% if link.avatar -%}
						<tr>
							<td colspan="2">
								<img src="{{ url_for('get_image', imgType='cache', imgId=link.avatar) }}" class="img-responsive" title="Avatar">
							</td>
						</tr>
						{%- endif -%}
						{% if link.flags|length > 0 -%}
						<tr>
							<td colspan="2">Flags: {% for flag in link.flags -%}
											{{ flag -}}
											{% if not loop.last -%}, {% endif %}
										{%- endfor -%}
							</td>
						</tr>
						{%- endif %}
						{% for detail in link.details -%}
						<tr>
							<td nowrap style="vertical-align: top;">{{ detail.key }}</td>
							<td>
								{%- if detail.value.startswith('http://') or detail.value.startswith('https://') -%}
									<a href="{{ detail.value }}" target="_blank">{{ detail.value }}</a>
								{%- else -%}
									{{ detail.value }}
								{%- endif -%}
							</td>
						</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>
<script>
	$(function() {
		$( "#tabs" ).tabs({ active: {{ active }} });
	});
</script>
{% endblock %}
