{% extends "base.html" %}
{% block title %}{{ _('Login') }}{% endblock %}
{% block content %}
<form action="{{ url_for('profile_login') }}" id="login" method="post" autocomplete="on">
	<h2>Login</h2>
		<dl>
			<dt>{{ _('Nickname') }}:
			<dd><input type="text" name="nick" class="backend" autofocus="autofocus">
			<dt>{{ _('Password') }}:
			<dd><input type="password" name="password" class="backend">
		</dl>
	<button class="btn btn-default" type="submit">{{ _('Submit') }}</button>
</form>
{% endblock %}