{% extends "base.html" %}
{% block title %}{{ _('Register') }}{% endblock %}
{% block content -%}
<div class="content_block"><form action="{{ url_for('profile_register') }}" id="register" method="post" autocomplete="on">
	<h2>{{ _('Registration') }}</h2>
		<dl>
			<dt>{{ _('Nickname') }}: *
			<dd><input type="text" name="nick" class="backend" value="{{ values.nick }}" autofocus="autofocus">
			<dt>{{ _('Password') }}: *
			<dd><input type="password" name="password" class="backend" >
			<dt>{{ _('Again the password') }}: *
			<dd><input type="password" name="password2" class="backend">
			<dt>{{ _('Email') }}: *
			<dd><input type="text" name="email" class="backend" value="{{ values.email }}">
			<dt>{{ _('Website') }}:
			<dd><input type="text" name="website" class="backend" value="{{ values.website }}">
			<dt>{{ _('Real Name') }}:
			<dd><input type="text" name="name" class="backend" value="{{ values.name }}">
		</dl>
	<button class="btn btn-default" type="submit">{{ _('Submit') }}</button> <button class="btn btn-default" type="reset">{{ _('Reset') }}</button>
</form></dev>
{% endblock %}
