{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<form action="{{ url_for('profile_register') }}" id="register" method="post" autocomplete="on">
	<h2>Registration</h2>
		<dl>
			<dt>Nickname: *
			<dd><input type="text" name="nick" class="backend" value="{{ values.nick }}" autofocus="autofocus">
			<dt>Password: *
			<dd><input type="password" name="password" class="backend" >
			<dt>Again the password: *
			<dd><input type="password" name="password2" class="backend">
			<dt>Email: *
			<dd><input type="text" name="email" class="backend" value="{{ values.email }}">
			<dt>Website:
			<dd><input type="text" name="website" class="backend" value="{{ values.website }}">
			<dt>Real Name:
			<dd><input type="text" name="name" class="backend" value="{{ values.name }}">
		</dl>
	<button class="btn btn-default" type="submit">submit</button> <button class="btn btn-default" type="reset">reset</button>
</form>
{% endblock %}
