TS3:
  updateLock: 60
  updateOnlineLock: 5
  ip: 127.0.0.1
  port: 10011
  serverid: 1
  username: serveradmin
  password: secret
  icon: ts3.png
Blizz:
  spikey: secret
  apisecret: secret
  icon: battlenet.png
Valve:
  apikey: secret
  icon: steam.png