TS3:
  name: Team Speak 3
  class: TS3Network
  active: False
  updateLock: 60
  updateOnlineLock: 5
  ip: 127.0.0.1
  port: 10011
  serverid: 1
  username: serveradmin
  password: secret
  icon: ts3.png
  guestGroups:
   - 7
   - 8
  memberGroupId: 9
Blizz:
  name: Battle.Net
  class: BlizzNetwork
  active: True
  #3days
  updateLock: 259200
  apikey: secret
  apisecret: secret
  icon: battlenet.png
  region: eu
Valve:
  name: Steam
  class: ValveNetwork
  active: True
  apikey: secret
  icon: steam.png