body { padding-bottom: 22px; }

.shadow {
  -moz-box-shadow:  3px 3px 4px 3px #ccc;
  -webkit-box-shadow: 3px 3px 4px 3px #ccc;
  box-shadow:     3px 3px 4px 3px #ccc;
}

.glow {
  border:1px solid #000;
  -webkit-box-shadow:0 0 6px #00ff7e;
  -moz-box-shadow:0 0 5px #00ff7e;
  box-shadow:0 0 5px #00ff7e;
  outline: none;
}

.partner_list_icon {
  /*display: block;*/
  max-width:16px;
  max-height:16px;
  width: auto;
  height: auto;
  margin-right: 2px;
}

.home_icon {
  /*display: block;*/
  max-width:20px;
  max-height:20px;
  width: auto;
  height: auto;
  margin-right: 2px;
}

.link_network_list_icon {
  /*display: block;*/
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
  margin-right: 2px;
  margin-top: 20px;
}

.linked_network_list_icon {
  /*display: block;*/
  max-width:20px;
  max-height:20px;
  width: auto;
  height: auto;
  margin-right: 2px;
}

.partner_detail_avatar {
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
}

.position_bottom_right {
	position: fixed;
	bottom: 10px;
	right: 10px;
  max-width: 60%;
}

.position_bottom_left {
  position: fixed;
  bottom: 10px;
  left: 10px;
  max-width: 30%;
}

.twitter_news {
  vertical-align: top;
  width: 300px;
  position: fixed;
  right: 50px;
  top: 60px;
  float: left;
}

.profileAvatar {
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 120px;
  max-height: 120px;
}

.col {
  border-bottom: 20px solid transparent;
}


/* stoef css */
.box {
  border: 1px solid black;
  padding: 0;
  }
  .box header {
    background: #efefef;
    padding: 10px;
    text-align: right;
  }
  
  .box section {
    background: white;
    padding: 0 10px 10px 10px;
    min-height: 345px;
    overflow-y: auto;
  }
  
  .box footer {
    background: #87CE36;
    padding: 5px;
    vertical-align: bottom;
    padding-bottom: 0px;
  }

  .status { border-bottom: 20px solid transparent; visibility: hidden; }
  .status .box {
    border: 1px solid black;
    background: #87CE36;
    padding: 20px;
    text-align: center;
  }
